# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environments
.venv
venv/
ENV/
env.bak/
venv.bak/

# Project specific ignores (Large Datasets/PCAP files)
*.csv
*.pcap
*.keras
*.gz

# IDE and Editor configs
.idea/
.vscode/
*.swp
*.swo

# GitHub config
.github/
.gitignore
